{% extends 'pages/base.html' %}

{% block conteudo %}
<h2>Contato</h2>

<form method="post">
    {% csrf_token %}

    <!-- ERROS GERAIS -->
    {% if form.non_field_errors %}
        <div style="color: red;">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <!-- NOME -->
    <div>
        {{ form.nome.errors }}
        {{ form.nome }}
    </div>

    <!-- EMAIL -->
    <div>
        {{ form.email.errors }}
        {{ form.email }}
    </div>

    <!-- MENSAGEM -->
    <div>
        {{ form.mensagem.errors }}
        {{ form.mensagem }}
    </div>

    <button type="submit">Enviar</button>
</form>

{% endblock %}